@import "functions";
@import "color";
@import "font";
@import "reset";

@page {
    size: A4 Portrait;
    margin: 0.4in;
}

body {
    font-size: 14px;
}

* {
    font-family: $font-regular;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    margin-bottom: 20px;

    img {
        height: 80px;
    }
}

section.top {
    text-align: center;
    margin: 20px auto;

    h1 {
        font-family: $font-bold;
        font-size: 1.4em;
        line-height: 1.6em;
    }

    h3 {
        color: $redGC;

    }
}

table {
    font-size: 12px;
}

table.main {
    width: 100%;

    thead {
        th {
            font-family: $font-bold;
        }
    }

    th, td {
        border: 1px solid $grayDarkGC;
        padding: 5px 3px;

        &.time {
            text-align: center;
        }
    }

    tr.header td {
        color: $grayGC;
        border: none;
    }

    tr.song {
        color: blue;
    }

}

table.people {
    margin-top: 30px;

    th, td {
        padding: 2px 3px;

        &:first-of-type {
            font-family: $font-bold;
        }
    }
}