@font-face {
  font-family: 'Radikal-Light';
  src: url("../fonts/2B5662_0_0.eot");
  src: url("../fonts/2B5662_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_0_0.woff") format("woff"), url("../fonts/2B5662_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-Black';
  src: url("../fonts/2B5662_1_0.eot");
  src: url("../fonts/2B5662_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_1_0.woff") format("woff"), url("../fonts/2B5662_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-Bold';
  src: url("../fonts/2B5662_2_0.eot");
  src: url("../fonts/2B5662_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_2_0.woff") format("woff"), url("../fonts/2B5662_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal';
  src: url("../fonts/2B5662_3_0.eot");
  src: url("../fonts/2B5662_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_3_0.woff") format("woff"), url("../fonts/2B5662_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-UltraThin';
  src: url("../fonts/2B5662_4_0.eot");
  src: url("../fonts/2B5662_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_4_0.woff") format("woff"), url("../fonts/2B5662_4_0.ttf") format("truetype"); }

/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

@page {
  size: A4 Portrait;
  margin: 0.4in; }

body {
  font-size: 14px; }

* {
  font-family: "Radikal", sans-serif;
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  margin: 20px auto; }
  header img {
    height: 80px; }

section.top {
  text-align: center;
  margin: 20px auto; }
  section.top h1 {
    font-family: "Radikal-Bold", "Radikal", sans-serif;
    font-size: 1.4em;
    line-height: 1.6em; }
  section.top h3 {
    color: #D91A15; }

table {
  font-size: 12px; }

table.main {
  width: 100%; }
  table.main thead th {
    font-family: "Radikal-Bold", "Radikal", sans-serif; }
  table.main th, table.main td {
    border: 1px solid #363331;
    padding: 5px; }
    table.main th.time, table.main td.time {
      text-align: center; }
  table.main tr.header td {
    color: #878787;
    border: none; }
  table.main tr.song {
    color: #0F66AA; }

table.people {
  margin-top: 30px; }
  table.people th, table.people td {
    padding: 2px 3px; }
    table.people th:first-of-type, table.people td:first-of-type {
      font-family: "Radikal-Bold", "Radikal", sans-serif; }
