<html>
<head>
    <title>{{ plan.ministry.name }}:: {{ plan.dates }}</title>

    <link rel="stylesheet" href="https://pc.ministries.io/gcl_simple/style.css" type="text/css"/>

    <!--<link rel="stylesheet" href="style.css" type="text/css"/>-->

    <style>

    </style>
</head>
<body>

<header>
    <img src="https://pc.ministries.io/gcl_simple/images/logoGCL.png" alt="Gospel Center Lausanne">
</header>

<section class="top">
    <h1>Programme Célébration du {{ plan.dates }}</h1>
    <h3>L’ordre des interventions peut être modifié en cours de célébration.</h3>
</section>



<!-- PLAN TABLE -->
{% if print_plan_items == true %}
<table id="plan" class="main">
    {% if print_plan_item_times == true or print_plan_item_length == true or notes_in_columns == true %}
    <thead>
    <tr>
        {% if print_plan_item_times == true %}
        {% for time in plan.plan_times %}
        <th class="time">{{ time.starts_at | date: '%m/%d<br/>%I:%M%p' | downcase }}</th>
        {% endfor %}
        {% endif %}

        {% if print_plan_item_length == true %}
        <th class="length">Length<br/>in mins</th>
        {% endif %}

        <th></th>

        {% if notes_in_columns == true %}
        {% for selected_item_note in selected_item_notes %}
        <th class="notes">
            {% if all_item_notes == true %}
            {{ selected_item_note.name }}
            {% else %}
            {{ selected_item_note }}
            {% endif %}
        </th>
        {% endfor %}
        {% else %}
        <th class="notes">Notes</th>
        {% endif %}
    </tr>
    </thead>
    {% endif %}
    <tbody>
    {% for item in plan.items %}
    {% case item.item_type %}
    {% when 'Header' %}
    <tr style="page-break-after: avoid">
        <td colspan="{% if print_plan_item_times == true and print_plan_item_length == true %}{{ plan.plan_times | size | add: 2 }}{% endif %}
												{% if print_plan_item_times == true and print_plan_item_length != true %}{{ plan.plan_times | size | add: 1 }}{% endif %}
												{% if print_plan_item_times != true and print_plan_item_length == true %}2{% endif %}
												{% if print_plan_item_times != true and print_plan_item_length != true %}1{% endif %}"
            class="header">
            {{ item.title }}
        </td>
        {% if notes_in_columns == true %}
        {% for selected_item_note in selected_item_notes %}
        <td class="header"></td>
        {% endfor %}
        {% else %}
        <td class="header"></td>
        {% endif %}
        {% else %}
    <tr class="item {% cycle 'odd', 'even'%}">
        {% if print_plan_item_times == true %}
        {% for time in plan.plan_times %}
        <td class="time item">
            {% for item_time in item.times %}{% if item_time.time_id == time.id %}{{ item_time.actual_time | date:
            '%I:%M%p' | downcase }} {% endif %}{% endfor %}
        </td>
        {% endfor %}
        {% endif %}

        {% if print_plan_item_length == true %}
        <td class="length item">{{ item.length }}</td>
        {% endif %}

        <td class="item {% if item.song %}song{% endif %}">
            <span class="item_title">{{ item.title }}</span>
            {% if item.arrangement %}

            {% if print_arrangement_name == true %}
            <span class="arrangement">{{ item.arrangement.name }}</span>
            {% endif %}

            {% if item.arrangement.music_key != "" and print_song_key == true %}
            <span class="key">in [{{ item.arrangement.music_key }}]</span>
            {% endif %}

            {% if item.arrangement.bpm != "" and print_song_bpm == true %}
            <span class="bpm">at {{ item.arrangement.bpm }} bpm</span>
            {% endif %}

            {% if item.item_sequence and print_song_sequence == true %}
            <span class="sequence"> - {{ item.item_sequence }}</span>
            {% endif %}

            {% endif %}
            <pre class="description">{{ item.description }}</pre>
            {% if print_lyrics and item.arrangement.lyrics %}
            <div class="lyrics">
                <div class="song_header">
                    <div class="credits">{% if print_ccli_number and item.song.ccli_id != nil %}#{{item.song.ccli_id}}
                        {% endif %}{% if print_author and item.song.author != '' %}by {{item.song.author}}{% endif %}
                    </div>
                    <div class="copyright">{% if print_copyright %}{{item.song.copyright}}{% endif %}</div>
                </div>
                <div class="chord_chart_content">{{item.arrangement.lyrics}}</div>
            </div>
            {% endif %}
        </td>

        {% if notes_in_columns == true %}
        {% for my_note in selected_item_notes %}
        <td class="item">{% for note in item.notes %}
            {% if note.category_name == my_note.name or note.category_name == my_note %}{{ note.note }}{% endif %}
            {% endfor %}
        </td>
        {% endfor %}
        {% else %}
        <td class="item">
            {% for my_note in selected_item_notes %}
            {% for note in item.notes %}
            {% if note.category_name == my_note.name or note.category_name == my_note %}<strong>{{ note.category_name
            }}:</strong>{{ note.note }}<br/>{% endif %}
            {% endfor %}
            {% endfor %}
        </td>
        {% endif %}

        {% endcase %}
    </tr>
    {% endfor %}
    </tbody>
    {% if print_plan_item_times == true or print_plan_item_length == true %}
    <tfoot>
    <tr>
        {% if print_plan_item_times == true %}
        {% for time in plan.plan_times %}
        <th class="time">{{ time.ends_at | date: '%I:%M%p' | downcase }}</th>
        {% endfor %}
        {% endif %}

        {% if print_plan_item_length == true %}
        <th class="length">{{ plan.total_length }}</th>
        {% endif %}

        <th></th>

        {% if notes_in_columns == true %}
        {% for note_category in selected_item_notes %}
        <th></th>
        {% endfor %}
        {% else %}
        <th></th>
        {% endif %}
    </tr>
    </tfoot>
    {% endif %}
</table>
{% endif %}
<!-- END PLAN TABLE -->

</body>
</html>
